<h1>Contact</h1>

<p>Create an issue on <a href="https://github.com/EpicGamer007/EpicGamer007">this</a> github repo or <a href="https://discord.gg/zDbbjKmZXy">join my discord server</a>!</p>

<%- contentFor("title") %>
Contact
<%- contentFor("desc") %>
Contact Abhay