<h1>Abhay's Halo Statistics</h1>
<article id="halo">
	<h2>This page contains my <i>Halo: The Master Chief Collection</i> Statistics</h2>
	<section id="halo-stats">
		<details>
			<summary>My information and statistics</summary>
			<button class="retrieve-halo-stats">Fetch stats</button>
		</details>
		<details>
			<summary>
				My Halo XP Level
			</summary>
			<img src="/api/halo/images/xp" alt="Abhay's Halo XP Level"/>
		</details>
		<details>
			<summary>
				My Halo ranks
			</summary>
			<img src="/api/halo/images/ranks" alt="Abhay's Halo ranks"/>
		</details>
		<details>
			<summary>My Halo Clips</summary>
			<button class="retrieve-halo-clips">Fetch clips</button>
		</details>
	</section>
</article>

<%- contentFor("title") %>
Abhay's Halo Statistics
<%- contentFor("desc") %>
Abhay's Halo Statistics, XP and Ranks