<h1>Abhay</h1>
<h2>Temporarily using <a href="https://watercss.kognise.dev/">water.css</a></h2>
<p>Backend code is terrible, refactoring. Check the github repo <a href="https://github.com/EpicGamer007/portfolio-site">here</a></p>

<%- contentFor("title") %>
Abhay
<%- contentFor("desc") %>
Abhay's portfolio and blog website