<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("./components/head") %>
	</head>
	<body>
		<%- include("./components/header") %>
		
		<main id="swup" class="transition-fade">
			<%- body %>
		</main>
		
		<%- include("./components/footer") %>

		<noscript>
			<h1>Your browser does not support JavaScript or JavaScript has been disabled. If it is disabled, please enable it to use this webapp.</h1>
		</noscript>
		
	</body>
</html>