<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("./components/head") %>
	</head>
	<body>
		<noscript>
			<h1>Your browser does not support JavaScript or JavaScript has been disabled. If it is disabled, please enable it to use this webapp.</h1>
		</noscript>

		<%- include("./components/nav") %>
		
		<main>
			<%- body %>
		</main>
		
		<%- include("./components/footer") %>
	</body>
</html>