<h1>You are not online, please be online in order to use this webapp</h1>
<button id="reload">Reload page</button>

<script type="module">

	document.querySelector("#reload").addEventListener("click", () => {
		if(window.location.pathname.toLowerCase() === "/offline") {
			return window.location.pathname = "/";
		}
		return window.location.reload();
	});

	window.addEventListener('online', () => {
		if(window.location.pathname.toLowerCase() === "/offline") {
			return window.location.pathname = "/";
		}
		window.location.reload();
	});

</script>

<style>

	body {
		background-color: black;
		color: ghostwhite;
	}

	main {
		text-align: center;
		font-family: Arial Verdana sans-serif;
	}

</style>

<%- contentFor('title') %>
Offline