<h1>Projects</h1>
<p>Check out my GitHub at <a href="https://github.com/EpicGamer007">https://github.com/EpicGamer007</a> then go to the repositories tab. </p>
<%- contentFor("title") %>
Projects
<%- contentFor("desc") %>
Abhay's notable programming projects