main:before{
	content: "Your browser does not support JavaScript or JavaScript has been disabled. If it is disabled, please enable it to use this webapp.";

	color: ghostwhite;
	font-family: sans-serif;
	font-size: 1em;
	font-weight: bold;
	text-align: center;

	width: 100%;
	padding: 1em 0;

	background: rgba(0,0,0,0.9);

	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999999;
}