@font-face {
	font-family: halo;
	src: url(/static/fonts/halo.ttf);
}

@font-face {
	font-family: halo-outline;
	src: url(/static/fonts/halo-outline.ttf);
}

::-webkit-scrollbar {
	width: 1vh;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: rgb(10, 0, 36);
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(40, 0, 175, 0.2);
	transition: background 500ms;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(25, 5, 100);
}

* {
	margin: 0;
	padding: 0;
}

html {
	background-color: black;
}

body {
	color: ghostwhite;
	background-color: black;
	background: url(/static/images/bg.jpg) no-repeat center center fixed;
	background-size: cover;
	width: 100vw;
	height: 100vh;
}

a {
	text-decoration: none;
	color: ghostwhite;
}

a:hover {
	text-decoration: underline;
}

noscript > h1 {
	color: ghostwhite;
	font-family: sans-serif;
	font-size: 1em;
	font-weight: bold;
	text-align: center;

	width: 50%;
	padding: 2em 1em;

	background: rgba(0, 0, 0, 0.521);

	position: fixed;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 99999999;
	border-radius: 4px;
}

#pageloader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10000;
	background: rgb(0, 0, 0);
}

.spinner {
	width: 70px;
	text-align: center;
	opacity: 1;
	transition: opacity .4s;
}

#pageloader.dismissloader{
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s, visibility 0s 1s;
}
 
.spinner > div {
	width: 18px;
	height: 18px;
	background-color: ghostwhite;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
 
.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
 
.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

body.fadeout{
    transition: opacity 0.2s;
    opacity: 0;
}
 
@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% { 
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}

@media (prefers-color-scheme: light) {
	html, body {
		background-color: white;
	}
	#pageloader {
		background: white;
	}
	.spinner > div {
		background-color: #333;
	}
}