@font-face {
	font-family: halo;
	src: url(/static/fonts/halo.ttf);
}

@font-face {
	font-family: halo-outline;
	src: url(/static/fonts/halo-outline.ttf);
}

/* width */
::-webkit-scrollbar {
	width: 1vh;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: rgb(10, 0, 36);
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(40, 0, 175, 0.2);
	transition: background 500ms;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(25, 5, 100);
}

body,
html {
	margin: 0;
	padding: 0;
	color: ghostwhite;
	height: 100%;
	background-color: black;
	background: linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(1, 10, 60, 0.3)),
		url(/static/images/bg.jpg) no-repeat center center fixed;
	background-size: cover;
}

a {
	color: ghostwhite;
	text-decoration: none;
	transition: text-decoration 1s;
}

a:hover {
	text-decoration: underline;
}

#name {
	text-align: center;
	font-family: halo-outline;
	font-size: 20vw;
}

#error {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
}

.temp {
	text-align: center;
}