<meta charset="UTF-8">
<meta name="description" content="An online markdown blogger for replit.com users. Kind of like dev.to">
<meta name="author" content="Abhay">
<meta name="keywords" content="blog, blogging, markdown, repl, replit">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%- meta %>

<title><%= title %></title>

<link rel="stylesheet" href="/static/styles/style.css">

<link rel="shortcut icon" href="/favicon.ico">
<link rel="manifest" href="/manifest.webmanifest">

<script type="module" src="/static/scripts/script.js"></script>
<%- script %>