<meta charset="UTF-8">
<meta name="description" content="Abhay's personal/portfolio website">
<meta name="author" content="Abhay">
<meta name="keywords" content="abhay, personal, portfolio, blog, programming">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="black">
<%- meta %>

<title><%= title %></title>

<link rel="stylesheet" href="/static/styles/style.css">

<link rel="shortcut icon" href="/favicon.ico">
<link rel="manifest" href="/manifest.webmanifest">

<script type="module" src="/static/scripts/script.js"></script>
<%- script %>