<header>
	<a href="/">Abhay</a>

	<nav>
		<a href="#">Placeholder</a>
		<a href="#">Placeholder</a>
		<a href="#">Placeholder</a>
		<a href="#">Placeholder</a>
		<a href="#">Login</a>
	</nav>
</header>