<header>
	<nav>
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/projects">Projects</a>
		<a href="/blog">Blog</a>
		<a href="/contact">Contact</a>
		<a href="/halo">Halo</a>
		<% if(data.isAdmin) { %>
			<a href="/admin">Admin</a>
		<% } %>
		<% if(data.loggedIn) { %>
			<button class="github_logout">Logout</button>
		<% } else { %>
			<button class="github_login">Login</button>
		<% } %>
	</nav>
</header>